@import "variables";
@import "bootstrap";
@import "bootswatch";

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

body {
    font-family: 'Playfair Display', serif;
}

body>footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6.4rem;
  line-height: 6.4rem;
  background: #fff;
  border-top: solid 1px #f2f2f2;
}


.navigation {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  max-width: 960px;
  margin: 0 auto;
}

.navigation>*:not(:first-child) {
  margin-left: 1.6rem;
}

a {
  text-decoration: none;
}

#header {
    height: 100%;
}

.nav-item {
    max-height: 40px;
}


h1 {
    padding-bottom: 3rem;
    border-bottom: 4px solid $navbar-default-border;
}

.user-list li {
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 2rem;
    border-bottom: 4px solid $navbar-default-border;
}

.films-list {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}