

<section class="container-fluid">
  <h2>Reviews</h2>

  <article ng-repeat="review in reviews">
    <span>{{ review.username }}</span>

    <span>{{ review.title }}</span>

    <p>{{ review.body }}</p>
  </article>

  <div ng-if="session.logged" class="col-md-8 col-md-offset-2">
    <h2>Escribe tu review</h2>
    <form name="reviewform">
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" name="title" class="form-control">
      </div>

      <div class="form-group">
        <label for="body">Tu review</label>
        <textarea name="body" id="" cols="30" rows="10" class="form-control"></textarea>
      </div>

      <div class="text-center">
        <button type="submit" id="sendreview" class="btn btn-primary btn-lg btn-block">Enviar</button>
      </div>
    </form>
  </div>
</section>