<h1 class="text-center col-md-6 col-md-offset-3">PELÍCULAS</h1>

<div class="container-fluid">
  <div ng-repeat="film in films" class="col-md-4 films-list">
    <film-item film="film"></film-item>
  </div>
</div>