
<div class="container-fluid">


  <form name="login" class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Entra</h1>
    <div class="form-group">
      <label for="username">Nombre de usuario:</label>
      <input class="form-control" type="text" name="username" placeholder="tu nombre de usuario">
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input class="form-control" type="password" name="password" placeholder="tu contraseña">
    </div>

    <div class="text-center">
      <button id="login" type="submit" class="btn btn-primary">Entrar</button>
    </div>
  </form>
</div>
