<div class="container-fluid">
  <div class="row">
    <h1 class="col-md-6 col-md-offset-3 text-center">{{ user.username }}</h1>
  </div>


  <section>
    <div class="col-md-8 col-md-offset-2">
      <h2>Sobre mí:</h2>

      <p>{{ user.description }}</p>
    </div>

    <div class="col-md-6 col-md-offset-3">
      <h2>Reviews</h2>
      <article ng-repeat="review in reviews">
        <h3>{{ review.film }}</h3>

        <span>{{ review.title }}</span>
        <p>{{ review.body }}</p>
      </article>
    </div>
  </section>
</div>

