<div class="container-fluid">
  <form name="settings">
    <h1 class="text-center">Perfil</h1>
    <div class="form-group">
      <label for="username">Nombre de usuario:</label>
      <input type="text" class="form-control" name="username" ng-model="username">
    </div>

    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea class="form-control" name="description" cols="30" rows="10" ng-model="description"></textarea>
    </div>

    <div class="text-center">
      <button id="settingsBtn" type="submit" class="btn btn-primary">Actualizar datos</button>
    </div>
  </form>
</div>