<div class="container-fluid">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">USUARIOS</h1>
    <section class="container-fluid">
      <ul class="list-group user-list">
        <li ng-repeat="user in users">
            <user-list user="user"></user-list>
        </li>
      </ul>
    </section>
  </div>
</div>
</div>
