<nav class="navbar navbar-default" id="header">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">MovieAPP</a>

        <ul class="nav navbar-nav navbar-right" >
          <li><a class="nav-item current hidden-xs" href="#/home">Home</a></li>
          <li><a class="nav-item hidden-xs" href="#/films">Pelis</a></li>
          <li><a class="nav-item hidden-xs" href="#/users">Usuarios</a></li>
          <li ng-if="session.logged"><a class="nav-item hidden-xs" href="#/users/{{session.username}}/settings">Preferencias</a></li>
          <li ng-if="!session.logged"><a class="nav-item hidden-xs" href="#/login">Entrar</a></li>
          <li ng-if="session.logged"><a class="nav-item hidden-xs" ng-click="logout()">Salir</a></li>

          <li class="dropdown visible-xs-inline text-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
              <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a  href="#/home">Home</a></li>
          <li><a  href="#/films">Pelis</a></li>
          <li><a  href="#/users">Usuarios</a></li>
          <li><a  href="#">Reviews</a></li>
          <li ng-if="session.logged"><a  href="#/users/{{session.username}}/settings">Preferencias</a></li>
          <li ng-if="!session.logged"><a  href="#/login">Entrar</a></li>
          <li ng-if="session.logged"><a  ng-click="logout()">Salir</a></li>

            </ul>
          </li>
        </ul>
      </div>
    </nav>