<h2><a href="#/users/{{user.username}}">{{user.username}}</a></h2>

<p>{{user.description}}</p>

<div class="text-center">
  <a href="#/users/{{user.username}}" class="btn btn-primary">Ver Perfil</a>
</div>